body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.personalInfo {
    width: auto;
    height: auto;
    background-color: #00bfff;
    overflow:auto;
    color: 	#FFFFFF;
  }
h1 {
    font-size: 84px;
}
h3 {
    color: #FF0000;
}
a.button1{
    display:inline-block;
    border:0.1em solid #FF0000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #FF0000;
    height: 200px;
    width: 500px;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color: #FFFFFF;
    background-color:#FF0000;
}
a.button2{
    display:inline-block;
    border:0.1em solid #0000CD;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #0000CD;
    height: 150px;
    width: 500px;
    text-align:center;
    transition: all 0.2s;
}
a.button2:hover{
    color: #FFFFFF;
    background-color: #0000CD;
}

a.button3{
    display:inline-block;
    border:0.1em solid #85bb65;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #85bb65;
    height: 200px;
    width: 500px;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    color: #FFFFFF;
    background-color: #85bb65;
}
.pic {
    padding: 0 50px;
}
.fa-cog {
    color: #FFFFFF;
}
.center {
    width:100%;
    display: flex;
    justify-content: center;
}
.collaborators {
    font-size: 20px;
}
.tech {
    font-size: 18px;
}
.description {
    font-size: 16px;
}
.portfolio {
    font-size: 64px;
}